#kk{
    font-family: 'Lobster', cursive;
}

#kj{
    font-family: 'Lobster', cursive;  
}

.jumbotron{
    margin-top: 0px;
    background-color: #e6e6e6;
}

body{
    background-image: url(photos/wto.jpg);
    
}

#ss{
    color: white;
}