{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
{% block content %}
<div class="container">

    <div class="row">
        {% if photos%}
        <h2>Found {{ photos|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 search results</h2>
        {% endif %}

    </div>

    <div class="row">
        {% if photos %}
          {% for photo in photos %}
          <div class="col-md-3">
              <div class="card">
                  <img src="{{photo.photo_image.url}}" class="img-responsive" alt="image" style="width: 100%; height: 250px;">
                  <p><b>~</b> {{photo.name}}</p>
                  <p><b><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;</b> {{photo.location}}</p>
                  <p><b>Posted</b> {{photo.pub_date|timesince}}</p>
              </div>
          </div>
          {% endfor %} 
        {% endif %}
    </div>

</div>

{% endblock %}